<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohy.settlement_platform.member.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.ohy.settlement_platform.member.domain.Member">
        INSERT INTO member (email, password, name, role, created_at)
        VALUES (#{email}, #{password}, #{name}, #{role}, NOW())
    </insert>

    <select id="findByEmail" resultType="com.ohy.settlement_platform.member.domain.Member">
        SELECT member_id, email, password, name, role, created_at
        FROM member
        WHERE email = #{email}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM member WHERE email = #{email}
        )
    </select>

</mapper>